*{
    margin: 0;padding: 0;box-sizing: border-box;
}

:root{
    --dark: rgba(34, 34, 34, 1);
    --success: rgba(75, 200, 0, 1);
    --error: rgba(228, 44, 55, 1);
}


/* #region Main */

#site_main{
    height: calc(100vh - 70px);
}

/* #endregion */

/* #region Footer */


#site_footer{
    height: 70px;
    background-color: var(--dark);
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.left-menu{
    width: 15%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.icon{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.3rem;
}

.icon i:nth-child(1){
    font-size: 2rem;
}

.icon i:nth-child(2){
    margin-left: 10px;
}


/* #endregion */