*{
    margin: 0;padding: 0;box-sizing: border-box;
}

:root{
    --dark: rgba(34, 34, 34, 1);
    --dark-light: rgba(74, 74, 74, 1);
    --success: rgba(75, 200, 0, 1);
    --error: rgba(228, 44, 55, 1);
}

body{
    font-family: 'Roboto', sans-serif;
}

/* #region Utility */

.bg-success{
    color: var(--success);
}

.m-lt-rt{
    margin-left: 0.6rem;
    margin-right: 2.5rem;
}

/* #endregion */

/* #region Main */

#site_main{
    height: calc(100vh - 70px);
    width: 100vw;
    position: relative;
}

.container{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    gap: 20px 10px;
    background-color: rgb(0, 0, 0);
    padding: 70px 50px 20px 50px;    
}

.web-cam{
    width: calc((100% - 70px) / 7);
    height: calc((100% - 90px) / 5);
    display: flex;
    background-image: url(https://picsum.photos/190/115);
    background-size: cover;
    background-position: center;
}

.web-cam>span{
    color: white;
    padding: 5px 3px;
    background-color: rgba(74, 74, 74, 0.7);
    align-self: flex-end;
}

.speaker-view{
    position: absolute;
    top: 5px;
    right: 10px;
}

.speaker-view span{
    background-color: var(--dark-light);
    padding: 3px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
}
/* #endregion */

/* #region Footer */

#site_footer{
    height: 70px;
    background-color: var(--dark);
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


.left-menu{
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.icon{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.3rem;
}

.icon i:nth-child(1){
    font-size: 2rem;
}

.left-menu .fa-angle-up{
    margin-left: 10px;
}

.main-menu{
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.right-menu{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.end-meeting{
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--error);
    background-color: var(--dark-light);
    padding: 0px 15px;
}

#angle-up{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #endregion */

